.main-wrapper
{
    background: rgb(247, 247, 247);
}

.main-wrapper .content
{
    background: #fff;
    margin-top: 0px;
    min-height: 1290px;
    overflow:hidden;
    position: relative;
}

.main-wrapper .nav
{
    background: #3c0000;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-zone
{
    padding-top: 5px;
}

.hr1
{
    width: 70%;
    height: 1px;
    background: #fff;
    margin: 40px 15%;
}


.links span
{
    margin-left: 4%;
    margin-right: 4%;
}

.links a
{
    text-decoration: none;
    color: #fff;
    font-family:arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

.links a:hover
{
    color: #bd3333;
}

.seperate1
{
    font-size: 50px;
    font-weight: 900;
    margin-left: 20px;
}

.seperate2
{
    margin: 0 5px;
    font-size: 50px;
    font-weight: 900;
}

i
{
    transform: scale(5,5);
    padding-left: 1.5%;
    padding-bottom: 6px;
}

h1
{
    font-size: 60px;
    font-family: Tahoma;
}

h2
{
    font-size: 40px;
    text-align: center;
    color: #670202;
    font-family:"Arial Black", "幼圆";
}

h2 a
{
    text-decoration: none;
    color: #670202;
}

h2 a:hover
{
    text-decoration: none;
    color: #e43434;
}

p
{
    font-size: 18px;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

p > *
{
    text-decoration: none;
}

.publish-time
{
    font-size: 18px;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    color: #670202;
}

li
{
    list-style: none;
}

.icon-group
{
    padding-top: 50px;
}

.icon-group li
{
    display: inline-block;
    padding: 8px;
}

.main-sec
{
    padding-bottom: 150px;
}

.first-article
{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}


.detail-article
{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
}

.hr
{
    width: 140%;
    height: 1px;
    background: rgba(103, 2, 2, 0.15);
    margin:50px 0;
    margin-left: -20%;
}

.hr2
{
    width: 100%;
    height: 2px;
    background: rgba(103, 2, 2, 0.45);
    margin:20px auto;
}

.rest-article
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top : 50px;
}

.rest-article li
{
    padding-top: 0;
}

.read-more
{
    margin: 50px 0;
}

a.more
{
    text-decoration: none;
    color: #670202;
    font-family:"Arial", "幼圆";
}

a.more:hover
{
    text-decoration: none;
    color: #e43434;
}

footer
{
    padding-top: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 80px;
    background: #670202;
    text-align: center;
}

.copy
{
    color: #fff;
    font-family: "Verdana";
    font-size: 30px;
}

.selectpage
{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 10px;
    min-height: 50px;
    text-align: center;
}    

.icon-previous
{
    float:left;
}

a.previous-page
{
    float: left;
    text-decoration: none;
    color: #670202;
    font-size: 45px;
    font-family:"Arial Black", "幼圆";
    font-weight: bold;
} 

a.previous-page:hover
{
    text-decoration: none;
    color: #e43434;
}

.icon-next
{
    float:right;
}


a.next-page
{
    float:right;
    text-decoration: none;
    color: #670202;
    font-size: 45px;
    font-family:"Arial Black", "幼圆";
    font-weight: bold;
} 

a.next-page:hover
{
    text-decoration: none;
    color: #e43434;
}

.icon-current
{
    color: #670202;
    font-size: 18px;
    font-family:"Arial Black", "幼圆";
    font-weight: bold;
    letter-spacing: 3px;
}


.article-index
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

.article-index ul h2
{
    text-align: left;
    padding-bottom: 30px;
    font-size: 60px;
}

.article-index ul li
{
    list-style-type: disc;
    line-height: 30px;
}

.article-index ul li h3
{
    font-size: 50px;
    color: #670202;
    font-family:"Arial Black", "幼圆";
}



.article-index ul li h3 a
{
    text-decoration: none;
    color: #670202;
}

.article-index ul li h3 a:hover
{
    text-decoration: none;
    color: #e43434;
}
