.main-wrapper
{
    background: #c39b8e;
    overflow:hidden;
}

.main-wrapper .content
{
    float: right;
    background: #EAB9A9;
    margin-right: 300px;
    margin-left: 200px;
}

.main-wrapper .nav
{
    width: 300px;
    height: 9999px;
    background: #272323;
    text-align: center;
    color: #fff;
    padding-top: 200px;
    position: fixed;
    right: 0px;
    top: 0px;
}

h1
{
    font-size: 25px;
    font-family: Tahoma;
}

h2
{
    font-size: 50px;
    text-align: center;
    color: #670202;
    font-family:"Arial Black", "幼圆";
}

h2 a
{
    text-decoration: none;
    color: #670202;
}

h2 a:hover
{
    text-decoration: none;
    color: #e43434;
}

p
{
    font-size: 18px;
    font-family: Georgia;
}

p > *
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.icon-group
{
    padding-top: 50px;
}

.icon-group li
{
    display: inline-block;
    padding: 8px;
}

.first-article
{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.hr
{
    width: 100%;
    height: 2px;
    background: rgba(103, 2, 2, 0.45);
    margin:20px auto;
}

.rest-article
{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}

.rest-article li
{
    padding-top: 30px;
}

.tail
{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 80px;
    background: #670202;
    text-align: center;
}

.copy
{
    color: #fff;
    font-family: "Verdana";
    font-size: 15px;
}

.selectpage
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 50px;
    text-align: center;
}    

.icon-previous
{
    float:left;
}

.icon-next
{
    float:right;
}
