{% extends 'main.html' %}
{% block first %}
<div class="first-article">
    <h2><a href="#">{{article_first.title}}</a></h2>
    <div class="publish-time">{{article_first.created_time|date:"n月j日,Y年"}}</div>
    <div class='hr'></div>
    <p>{{article_first.body|safe}}</p>
</div>
<div class="rest-article">
    {% for article in article_rest %}
        <li>
            <h2>
                <a href="#">{{ article.title }}</a>
            </h2>
            <div class="publish-time">{{article.created_time|date:"n月j日,Y年"}}</div>
            <div class="hr"></div>
            <p>{{article.abstract}}</p>
        </li>
   {% endfor%}
</div>

{% endblock %}
