<div id="pagenavi" class="selectpage">
    <div class="hr"></div>
    {% if page_article_list.has_previous%}
        <a class="previous-page" href="?page={{ page_article_list.previous_page_number}}">上一页
            <span class="icon-previous"></span>
        </a>
    {% else %}
        <span class="icon-none">&nbsp&nbsp&nbsp</span>
    {% endif %}
        <span class="icon-current">第{{ current_page }}页</span>
    {% if page_article_list.has_next %}
        <a class="next-page" href="?page={{ page_article_list.next_page_number }}">下一页
            <span class="icon-next"></span>
            </a>
    {% else %}
        <span class="icon-none">&nbsp&nbsp&nbsp</span>
    {% endif %}
</div>
