<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TT</title>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/myblog.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="nav">
            <div>
                <h1>TT's Cyberspace</h1>
                <p>For Freedom!</p>
            </div>
            <div class="icon-group">
                <li>github</li>
                <li>item2</li>
                <li>item3</li>
            </div>
        </div>
        <div class="content">
            {% block first %}{% endblock %}
        </div>
    </div>
</body>
</html>
