<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TT</title>
    <Link Rel="SHORTCUT ICON" href="/static/icons/favicon.ico" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/myblog.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="nav">
            <div>
                <h1>CyberTpunk</h1>
                <p>For Freedom!</p>
            </div>
            <div class="inner-link">
                <a class="first-page" href="/">
                    首页 <span class="icon-first-page"></span>
                </a>
                <span class="seperate">·</span>
                <a class="list-page" href="/blog/index">
                  <span class="icon-list-page"></span>列表
                </a>
            </div>
            <div class="links">
                <div class="contact">&mdash; Links &mdash;</div>
                <a class="link-1" href="https://github.com/qiqipipioioi">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                    <span class="icon-link-1"></span>
                </a>
                <a class="link-2" href="http://www.linkedin.com/in/xun-tu-1a168771">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <span class="icon-link-2"></span>
                    </a>
            </div>
        </div>
        <div class="content">
            <div class="main-sec">
            {% block content %}{% endblock %}
            </div>
            <footer>
                <div class="copy">
                    &copy 2016 Tuxun by django
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
