<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyberTank</title>
    <Link Rel="SHORTCUT ICON" href="/static/icons/favicon.ico" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/judge_browser.js" language="javascript" ></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="nav">
            <div class="logo">
                <img src="/static/images/tank.png" alt="logo" />
            </div>
            <div>
                <h1><a class="statename" href="/">CyberTank</a></h1>
                <p>For Freedom!</p>
            </div>
            <div class="button-zone">
                <div class="hr1"></div>
                <div class="links">
                    <a class="first-page" href="/">
                      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                      <span class="icon-first-page"></span>
                    </a>
                    <span class="seperate1">&middot</span>
                    <a class="list-page" href="/blog/index">
                      <i class="fa fa-list fa-2x" aria-hidden="true"></i>
                      <span class="icon-list-page"></span>
                    </a>
                    <span class="seperate2">|</span>
                    <a class="link-1" href="https://github.com/qiqipipioioi">
                        <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
                        <span class="icon-link-1"></span>
                    </a>
                    <span class="seperate1">&middot</span>
                    <a class="link-2" href="/static/rss/sitemap.xml">
                        <i class="fa fa-rss fa-2x" aria-hidden="true"></i>
                        <span class="icon-link-2"></span>
                        </a>
                </div>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
            <footer>
                <div class="copy">
                    &copy 2016 Tuxun by django
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
